*{
    padding: 0;
    margin: 0;
}
body{
    background-image: url(https://images.unsplash.com/photo-1464746133101-a2c3f88e0dd9?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2043&q=80);
    /* background: grey; */
    background-size: cover;
}
.container{
    width: 80%;
    margin-left: 10%;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 10px;
    height: 85vh;
    margin-top: 40px;
     background-color: white;
}

.parent{
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    /* border: solid black 2px; */

}
.username{
    /* margin-right: 300px; */
   width: 40% ;

}
.username input{
    width: 100%;
    font-size: large;
}
.password{
    /* margin-right: 200px; */
   
    width: 40%;
}
.password input{
    width: 100%;
    font-size: large;
}

h1{
    text-align: center;
}

label{
    margin-top: 30px;
    font-size: 1em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

input{
   margin-top: 10px;   
   border: 2px solid rgb(176,230,248);
   background: rgb(246,252,254);
   height: 50px;
   border-radius: 5px;
   
}
#forgetpassword{
    position: absolute;
    top: 200px;
    right: 430px;
    color: blue;
}
button{
    margin-top: 50px;
    width: 25%;
    background-color: rgb(105,105,105);
    color: white;
    border-radius: 7px;
    height: 40px;
    border: transparent ;
    margin-left: 400px;
    cursor: pointer;

}
#signup{
    text-align: center;
    font-size: 1em;
    margin-top: 10px;

}
.context{
    margin-top: 40px;
    text-align: center;
    font-size: 1em;
    line-height: 50px;
}
i{
    margin-right: 10px;
}