<%-include('partials/head') %>
<body>
    <form method="Post" action="/forgetpassword">

        <label for="username"> Username:</label>
        <input type="text" name="username" id="username">
        <label for="password">new Password:</label>
        <input type="text" name="newpassword" id="newpassword">

        <button type="submit">change password</button>
    </form>
</body>
</html>