<%-include('partials/head') %>
<link rel="stylesheet" href="css/tickets.css">
<body>
    <form method="Post" action="/ticketsearch">
        <h1>view Ticket</h1>
        <label for="ticketnumber">Enter your Ticket Number</label>
        <br>
        <input type="text" name="ticketnumber" id="ticket">
        <button type="submit">Check</button>
    </form>
</body>
</html>